

body{
  color: black;
  font-family:'Lucida Sans Unicode';
  font-size:110%;
  background-color: lightgray;
}

h1, h2 {
  font: bold; color: white;
  background-color: gray;
}

h3 {
  color: goldenrod;
}

header {
  font: white;
  text-align: center;
}

#heading{
  font-family: sans-serif;
  font-size: 110%;
  background-color: gray;
}

#section{
  background-color: lightgray;
}

.icons{
  align-content: stretch;
  align-items: baseline;
}

footer {
  background-color: grey;
  color: white;
  text-align: center;
}
